.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 2023;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--c);
  box-shadow: 0 0 6px 1px;

  &__nav {
    padding: 10px;
    display: flex;
    column-gap: 10px;
  }

  &__navlink {
    border-radius: 4px;
    display: inline-flex;
    padding: 20px;
    font-size: 22px;
    color: inherit;
    text-decoration: none;
    transition: transform 500ms linear;
    box-shadow: 0 0 6px 1px;
  }

  &__navlink:hover,
  &__navlink:focus {
    transform: scale(1.1);
  }

  &__navlink.active {
    background-color: var(--b);
    color: var(--d);
    box-shadow: 0 0 6px 1px var(--a);
  }
}
