@import-normalize; /* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 34px;
}
h3 {
  font-weight: 300;
  font-size: 32px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
  color: var(--a);
  transition: color 500ms;

  &:hover,
  &:focus {
    color: var(--b);
  }
}

.go-back {
  margin: 30px;
  color: var(--a);
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--b);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--d);
  color: var(--a);
  font-weight: 400;
  font-size: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark: #020202;
  --a: #40513b;
  --b: #609966;
  --c: #9dc08b;
  --d: #edf1d6;
  --white: #ffffff;
}
